@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
  box-sizing: border-box;
  font-family: 'Anonymous Pro', monospace;
}

/* Add a gray background color with some padding */
body {
  padding: 5em;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #000;
}

li a {
  color: white;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-anonymous {
  font-family: 'Anonymous Pro', monospace;
}

.text-source {
  font-family: 'Source Code Pro', monospace;
}

.text-green {
  color: #64d61d;
}

.text-orange {
  color: orange;
}

.text-blue {
  color: #00c6ff;
}

.text-white{
  color: white;
}

.text-right{
  text-align:right;
}

.font-bold{
  font-weight:bold;
}

.decoration-none{
  text-decoration: none;
}

.list-none {
  list-style:none;
  padding:0;
}

.mb-08{
  margin-bottom:8px;
}

.mb-5{
  margin-bottom: 50px;
}

.mt-1{
  margin-top: 10px;
}

.mt-2{
  margin-top: 20px;
}

.mt-3{
  margin-top: 30px;
}

.mt-4{
  margin-top: 40px;
}

.mt-5{
  margin-top: 50px;
}

/* Header/Blog Title */
.header {
  padding: 20px;
  font-size: 40px;
  text-align: center;
  /* background: #666; */
}

.text-gray {
  color: #666;
}

.text-white {
  color: #fff;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 25%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 75%;
  padding-left: 20px;
}

/* Fake image */
.link-pop-post {
  border: 1px solid #aaa;
  color: #fff;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}

.link-pop-post:hover{
  border: 1px solid #0d7c9e;
  color: white;
}

/* Add a card effect for articles */
.card {
   padding: 20px;
   margin-top: 20px;
   color: white;
}

.card-title {
   padding-left: 20px;
   margin-top: 50px;
   color: white;
   border-bottom: 1px solid white;
   border-left: 10px solid white;
}

.card-title h2 {
  padding: 0px;
  margin: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn{
  text-decoration: none;
  color: gray;
  cursor: pointer;
}

.btn-blue{
  padding: 10px;
  border: 1px solid #00c6ff;
  color: white;
  border-left: 0px;
  border-right: 0px;
  margin-right: 10px;
}

.btn-white-search{
  border: 1px solid #fff;
  color: white;
  border-left: 0px;
  border-right: 0px;
  margin-right: 10px;
  background: #000;
}

.btn-white-search:hover{
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
}

.btn-blue:hover{
  padding: 10px;
  border: 1px solid white;
  border-left: 0px;
  border-right: 0px;
  margin-right: 10px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.nav {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin-bottom:30px;
}

.nav ul {
    padding:0px;
    margin: 0px;
    list-style:none;
    text-align: right;
    border-top: #aaa;
}

.nav ul li { display: inline; }

.nav ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    color: #fff;
    padding: 3px;
    text-decoration: none;
}

.nav ul li a:hover {
    color: #0cb1e1;
}

.subtitle{
  border-bottom:1px solid gray;
  text-align:right;
  padding:2px;
}

.img-post{
  max-height: 177px;
  width: 100%;
  object-fit: cover;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}