<div class="card">
  <h2 class="text-source">About Me</h2>
  <ul class="list-none">
    <li><i class="fas fa-user mb-08"></i> DanP</li>
    <li><i class="fas fa-map-marker-alt mb-08"></i> Brazil</li>
    <li><i class="fas fa-envelope mb-08"></i> 
    	<a class="decoration-none text-white" target="_blank" href="mailto:soaresdaniel487@gmail.com"> E-mail </a> 
    </li>
    <li><i class="fab fa-github"></i> <a class="decoration-none text-white" href="https://github.com/D4nPs" target="_blank">Github</a> </li>
  </ul>
</div>
