  <div class="leftcolumn">
    <div class="card">
      <h2 class="text-source">About Me</h2>
      <ul class="list-none">
        <li><i class="fas fa-user mb-08"></i> DanP</li>
        <li><i class="fas fa-map-marker-alt mb-08"></i> Brazil</li>
        <li><i class="fas fa-envelope mb-08"></i> <a class="decoration-none text-white" href="#"> E-mail </a> </li>
        <li><i class="fab fa-github"></i> <a class="decoration-none text-white" href="#">Github</a> </li>
      </ul>
    </div>
    <div class="card">
      <h3 class="text-source">Popular Post</h3>
      <div class="link-pop-post">TTLE HEADING</div><br>
      <div class="link-pop-post">TTLE HEADING</div><br>
      <div class="link-pop-post">TTLE HEADING</div>
    </div>
    <div class="card">
      <h3 class="text-source">Follow Me</h3>
      <p>Some text...</p>
    </div>
  </div>
