<div id="share-bar">

    <!-- <h5>Share this:</h5> -->

    <div class="share-buttons text-center">
        <a style="text-decoration: none;" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ post.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Facebook" >
            <i class="fab fa-facebook share-button"></i>
        </a>

        <a style="text-decoration: none;" href="https://twitter.com/intent/tweet?text={{ post.title }}&url={{ site.url }}{{ site.baseurl }}{{ post.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Twitter" >
            <i class="fab fa-twitter share-button"></i>
        </a>

        <a style="text-decoration: none;" href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ post.url }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on Reddit" >
            <i class="fab fa-reddit-alien share-button"></i>
        </a>

        <a style="text-decoration: none;" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ post.url }}&title={{ post.title }}&summary={{ post.description }}&source={{ site.title }}"
            onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
            title="Share on LinkedIn" >
            <i class="fab fa-linkedin share-button"></i>
        </a>

        <a style="text-decoration: none;" href="mailto:?subject={{ post.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ post.url }}"
            title="Share via Email" >
            <i class="fa fa-envelope share-button"></i>
        </a>
    </div>

</div>