{% include head.html %}

{% include header.html %}

<div class="row">
  <div class="leftcolumn">
    {% include about.html %}
  </div>

  <div class="rightcolumn">

    <div class="card-title mb-5">
      <h2 class="text-source"> <i class="fas fa-home"></i> Welcome</h2>
    </div>

    <h5 class="text-white text-right"> <i> Recent posts </i> </h5>

  	{% for post in site.posts limit:3 %}
	
  		{% include content.html %}
	
  	{% endfor %}
  
    <div class="text-center" style="margin-top: 30px; margin-bottom: 30px;">
      <a class="btn btn-blue" href="/list"> All posts <i class="fas fa-search"></i> </a>
    </div>

  </div>


</div>

{% include footer.html %}

</body>
</html>
