
{% include head.html %}

{% include header.html %}

<div class="row">
  <div class="leftcolumn">
    {% include about.html %}
  </div>

    <div class="rightcolumn">

    <div class="card-title">
      <h2 class="text-source"> <i class="fas fa-stream"></i> List</h2>
    </div>

    {% for post in site.posts  %}

    <div class="card">
      <h2 class="text-source text-blue">{{ post.title }}</h2>
      <h5 class="subtitle"> {{ post.date | date: "%b, %-d %Y" }} </h5>
      <h5>{{ post.description }}</h5>
      <h5>Category: {{ post.categories }}</h5>
      <p class="text-source font-bold"> <small> <i class="fas fa-tags"></i> {{ post.tags }} </small> </p>
      <p class="text-right">
        <a class="text-blue font-bold decoration-none" href="{{ post.url }}"> <small>See more...</small> <i class="fas fa-paper-plane"></i> </a>
      </p>
      <p>
        {% include share-bar.html %}
      </p>
    </div>
  
    {% endfor %}
    
    </div>

</div>

{% include footer.html %}

</body>
</html>