{% include head.html %}

{% include header.html %}

<div class="row">
  <div class="leftcolumn">
    {% include about.html %}
    {% include follow.html %}
  </div>

  <div class="rightcolumn">
    <div class="card">

      {% include title.html %}

      {{ content }}

      <!-- <div style="width:100%; text-align:center;">
        <img src="img/posts/1/security.jpg" alt=""><br>
        <small>https://pixabay.com/pt/photos/seguran%C3%A7a-prote%C3%A7%C3%A3o-anti-v%C3%ADrus-265130/</small>
      </div> -->

      <!-- <p class="text-source font-bold"> <small> <i class="fas fa-tags"></i> PHP MYSQL CSS </small> </p> -->
    </div>
  </div>

</div>

{% include footer.html %}

</body>
</html>
