{% include head.html %}

{% include header.html %}

<div class="row">
  <div class="leftcolumn">
    {% include about.html %}
    <div class="mt-2">
    <h4  class="text-white" style="padding-left: 25px">Share this:</h4>
    {% include share-bar.html %}
    </div>
  </div>

  <div class="rightcolumn">
    <div class="card box-content">
    	
      {% include title.html %}

      {{ content }}

      <div style="margin-top: 50px">
      {% include share-bar.html %}
      </div>
      
    </div>
  </div>

</div>

{% include footer.html %}

</body>
</html>
